.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}
.about > h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.about > p {
  font-size: 14px;
  width: 70%;
  margin: 0;
  padding: 0;
}
.about > a {
  text-decoration: none;
  color: #f5f5f5;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #111111;
}
.about > div {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.about > div > p {
  font-size: 14px;
  padding: 20px 20px;
  width: 300px;
  background-color: #111111;
  text-align: start;
  color: #f5f5f5;
  border-radius: 4px;
}

@media (max-width: 820px) {
  .about > div {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 380px) {
  .about {
    height: auto;
    margin-top: 140px;
  }
  .about > h1 {
    font-size: 30px;
  }
  .about > div > p {
    font-size: 13px;
  }
  .about {
    scroll-margin-top: 30px;
  }
}
