body {
  font-family: "poppins", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  color: #111111;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

.navbar {
  position: sticky;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111111;
  padding: 5px;
  border-radius: 500px;
  margin: 30px;
}
.center-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #fd853a;
  background-color: #fd853a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-circle>a{
  text-decoration: none;
  color: #f5f5f5;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar > ul {
  width: 30%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar > ul > li {
  list-style: none;
  color: #f6fdfd;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 30px;
  width: 80px;
  border-radius: 200px;
  position: relative;
  overflow: hidden;
}
.navbar > ul > li > span {
  position: relative;
  color: #f6fdfd;
}
.navbar > ul > li > a {
  position: relative;
  color: #f6fdfd;
  text-decoration: none;
}
.navbar > ul > li::before {
  content: "";
  position: absolute;
  background-color: #fd853a;
  height: 30px;
  width: 0%;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.navbar > ul > li:hover::before {
  width: 100%;
}
.navbar>p{
  display: none;
  margin: 0;
  padding: 0;
}
.navbar>p>span{
  color: #f5f5f5;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #fd853a;
  background-color: #fd853a;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 890px){
  .navbar>ul{
    display: none;
  }
  .navbar>p{
    display: block;
  }
}

@media (max-width: 500px){
  .navbar{
    position: inherit;
  }
}